<div class="title" id="header">
	<h1>Oleksandr Pysmennyi</h1>
	<img src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg" style="max-width: 300px; max-height: ">
	<h3><strong>Contacts</strong></h3>
	<p><strong>Phone number: +380986667777</strong></p>
	<p><strong>E-mail: sashapysmenny@gmail.com</strong></p>
	<p><strong>Instagram: @sasha_pysmenny</strong></p>
	<p><strong>Telegram: @Ok_nosok</strong></p>
</div>

<div class="info">
	<h3>Summary</h3>
	<p>I am an enthusiastic, responsible and hard working IT person.<br> Being worked for different projects helped me to adopt to the changes quickly and made me a mature team worker.<br> I am able to work well both in a team environment as well as using own initiative.</p>
	<h3>Technical skills</h3>
	<ul>
		<li>C#</li>
		<li>Java </li>
		<li>Ruby/RoR</li>
		<li>Python</li>
		<li>HTML/CSS</li>
	</ul>
	<h3>Education</h3>
	<p>Bohdan Khmelnytsky National University at Cherkasy, Academic School of Computer Engineering, Intelligent and Control Systems - 2019-present</p>
	<h3>Courses and Certification</h3>
	<p>GeekHub courses - October 31 2020 - present</p>
	<h3>Work Experience</h3>
	<img src='https://defencelabswindon.com/wp-content/uploads/sites/208/2019/03/about-betty-boop-coming-soon-4000.png'style="max-width: 300px; max-height: ">
	<h3>Soft skills</h3>
	<ul>
		<li>Professional Googler</li>
		<li>Teamwork</li>
		<li>Responsibility</li>
		<li>Flexibillity/Adaptabillity</li>
		<li>Problem solving</li>
	</ul>
	<div class="lang">
		<h3>Languages</h3>
		<ul>
			<li>Ukrainian - native</li>
			<li>English - B2</li>
			<li>Russian - C1</li>
			<li>Deutsch - A1</li>
		</ul>
	</div>
	<div class="icons">
		<img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" style="max-width: 30px; max-height: 30px">
		<img src="https://cdn.iconscout.com/icon/free/png-512/java-23-225999.png" style="max-width: 30px; max-height: 30px">
		<img src="https://cdn.iconscout.com/icon/free/png-256/ruby-47-1175102.png" style="max-width: 30px; max-height: 30px">
		<img src="https://www.vvvinfotech.com/img/rails-logo.jpg" style="max-width: 30px; max-height: 30px">
		<img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" style="max-width: 30px; max-height: 30px">
		<img src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/22-512.png" style="max-width: 30px; max-height: 30px">
		<img src="https://cdn.iconscout.com/icon/free/png-256/css3-2038878-1720091.png" style="max-width: 30px; max-height: 30px">
	</div>
	<img class="edu" src="https://cdns.iconmonstr.com/wp-content/assets/preview/2017/240/iconmonstr-education-1.png" style="max-width: 30px; max-height: 30px">
	<img class="work" src="https://cdn.onlinewebfonts.com/svg/img_453949.png" style="max-width: 30px; max-height: 30px">
</div>